
<div class="col-sm-4 card">
<br>
<p>
  <strong>Name:</strong>
  <%= slot.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= slot.description %>
    </p>
<p>
  <strong>ID:</strong>
  <%= slot.id %>
  </p>
    <p>
  <strong>Start Time: </strong>
  <%= slot.start.to_formatted_s(:time) %>
  </p>

  <p>
    <strong>Stop Time: </strong>
    <%= slot.stop.to_formatted_s(:time) %>
    </p>


<br>
<div class="center">
  <%= link_to "Open", openslot_path(:room_id => @room.id, :slot_id => slot.id) , class:"btn btn-info btn-sm"%>
<%# link_to "Add Users", adduser_path(:room_id => @room.id, :slot_id => slot.id) , class:"btn btn-info btn-sm"%>
<div style="height:1vh"></div>
<%# link_to "Display users", showSlotUsers_path(:room_id => @room.id, :slot_id => slot.id) , class:"btn btn-warning btn-sm"%>
</div>
<br>
<br>
</div>
